/*----------- TAGS -----------*/

body {
    background: url('../img/tw8uxazilu9eqv2ef8fl.jpg') no-repeat;
    color: white;
}


/*----------- TAGS -----------*/

/*----------- CLASSES -----------*/

.title {
    font-size: 20px;
    font-weight: 300;
    color: rgb(44, 44, 168);
}

.bold {
    font-size: 16px;
    font-weight: 300;
    color: #a40000;
}

.bg {
    background: rgba(170, 170, 170, 0.75);
}

.card {
    background: rgba(170, 170, 170, 0.70);
}

.card-header {
    font-size: 25px;
    text-align: center;
    color: rgb(170, 48, 48);
}

.card-body {
    background: rgba(170, 170, 170, 0.70);
    color: rgb(44, 44, 168) !important;

}


/*----------- CLASSES -----------*/

/*----------- IDS -----------*/

#navbarDropdown {
    font-size: 24px;
}


/*----------- IDS -----------*/